$font-stack:   "Josefin Sans", sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  letter-spacing: 10px;
}

form{
    width: 200px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -70px 0 0 -105px;
}
input{
    // border: 0px solid black;
    display: block;
    width: 200px;
    margin: 0 auto;
}
